# Eclipse
/.metadata/
/.recommenders/
.classpath
bin/

# OS
.DS_Store
.*.swp
*.bak

# Maven
target/
.flattened-pom.xml

# Test data
org.eclipse.transformer.cli/src/test/data/multi/input/
org.eclipse.transformer.cli/src/test/data/multi/output/
org.eclipse.transformer.cli/src/test/data/multi/properties/
