# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore Eclipse build output directory
bin/

*.bak
/.metadata/
/.recommenders/
.DS_Store
.*.swp
